<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/p5.js"></script>
<script src="~/Scripts/p5.sound.js"></script>
<script src="~/Scripts/p5.dom.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/Styles/game.css" rel="stylesheet" />
    <title>Game : ProjectTitle</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>

</html>

