@model BrightLearn.ViewModels.Manage.AddQuestionViewModel
@{
    ViewBag.Title = "Vraag Toevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/draw_awnser.js"></script>
<script>
    $(document).ready(function () {

        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        })

    })
</script>
<div class="container" style="height: 100%">

    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Afbeelding</li>
        <li class="tab-link" data-tab="tab-2">Multiple Choise</li>
    </ul>

    <div id="tab-1" class="tab-content current">
        @Html.Partial("PartialViews/_CreateImageQuestion", Model)
    </div>
    <div id="tab-2" class="tab-content">
        @Html.Partial("PartialViews/_CreateMultipleChoiseQuestion", Model)
    </div>

</div>